<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        
            <div class="nav-auth-panel"><a href="/auth">Вход</a></div>
 
            <div class="userCab"><a href="/Cab"><%= name %></a></div>

        <div class="nav-reg-panel"><a href="/reg">Регистрация</a></div>
    </header>
</body>