<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Findpets.ru</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!-- БЕЗ JUMBOTRONS -->
</head>
<body>
  <header class="page-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">FindPets</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Объявления</a>
          </li>
          <li class="nav-item">
            <a href="/cab" class="nav-link"><%= name %></a>
          </li>
      </div>
    </nav>
  </header>
  <div class="content" style="display: flex; margin-top: 5%;">
    <div class="jumbotron" style='height: 250px; width: 500px; background-color: whitesmoke; '>
      <div>
        <p>Ваша контактная информация</p>
      </div>
      <div>
        <p>email:<%= email %></p>
      </div>
      <div>
        <p>name: <%= name %></p>
      </div>
      <div>
        <p>tel: <%= tel%></p>
      </div>
    </div>
    <form method="Post" action="/cab" style="margin: 30px 100px">
      <div class="form-group">
        <label>Заголовок</label>
        <input type="text" class="form-control" placeholder="Заголовок" name="postName" required>
      </div>
      <div class="form-group">
        <label>Комментарий</label>
        <input type="text" class="form-control" placeholder="Комментарий" name="comment" required>
      </div>
      <button type="submit" class="btn btn-primary">Войти</button>
    </form>
  </div>
</body>