<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Findpets.ru</title>
	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
	<script rel='stylesheet' href='js/main.js'></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- БЕЗ JUMBOTRONS -->
</head>
<body>
	<header class="page-header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">FindPets</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Объявления</a>
		      </li>
<!-- 		      <li class="nav-item justify-content-between">
		        <a class="nav-link"  href="#">Что-то<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item justify-content-between">
		        <a class="nav-link" href="#">Pricing</a>
		      </li>

 -->		<% if(!status){ %>
	            <li class="nav-item">
	                <a class="nav-link" href="#" data-toggle="modal" data-target="#authModal">Вход</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="#" data-toggle="modal" data-target="#registModal">Регистрация</a>
				</li>
			<% }else{ %>
				<li class="nav-item">
					<a href="/cab" class="nav-link"><%= name %></a>
				</li>
			<% } %>
 			  </ul>
		  </div>

		</nav>
	</header>
	<!-- Modal 1 -->

	<div class="module">
		<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModal" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Вход</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form action="/auth" method="POST">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Почта</label>
				    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="anton@yandex.ru" name="email" required>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Пароль</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ваш пароль" name="password" required>
				  </div>
				  <button type="submit" class="btn btn-primary">Войти</button>
				</form>
			</div>
		    </div>
		  </div>
		</div>
	<!-- Modal 2 -->
		<div class="modal fade" id="registModal" tabindex="-1" role="dialog" aria-labelledby="registModal" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
			        <form method="Post" action="/reg">
					  <div class="form-group">
					    <label for="exampleInputEmail1">ФИО</label>
					    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Иванов Иван Иванович" name="name" required>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Почта</label>
					    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="anton@yandex.ru" name="email" required>
					  </div>		  
					  <div class="form-group">
					    <label for="exampleInputPassword1">Телефон</label>
					    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="+79999999999" name="tel" required>
					  </div>

					  <div class="form-group">
					    <label for="exampleInputPassword1">Пароль</label>
					    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль" name="password" required>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Пароль ещё раз</label>
					    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль" name="passwordCheck" required>
					  </div>
					  <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
					</form>
				</div>
		    </div>
		  </div>
		</div>
	</div>

	<!-- Main images -->
	<img src="../pet.jpg" style='height:95vh; width: 100%;' class="img-fluid">

	<!-- Cards -->
	<div class="card" style="width: 25vw; margin: 5px 25px;">
  		<img class="card-img-top" src="images/pet.jpg" alt="Card image cap">
	<div class="card-body">
	    <h5 class="card-title">Пропала кошка.</h5>
	    <p class="card-text">Кличка: Vasya<br>Цвет: оранжевый<br> Цвет глаз: черный<br> IQ: 150+</p>
	    <a href="#" class="btn btn-primary">Подробнее</a>
	  </div>

 	

</div>
<script>
	$('#myModal').on('shown.bs.modal', function () {
	  $('#myInput').trigger('focus')
	})
</script>
</body>
</html>